<div class="spacer"></div>
<div class="container">
    <p>
        This project, MyList, is the first project to display my growing skill in Angular. MyList is a small front-end Angular project 
        in which any user can create a list by adding items to the list and see it displayed dynamically. The view display the list dynamically
        using the ngFor directive. The user can select an individual item or all items from the list and choose to delete the item(s) from the list as well. The items are bound
        to a model object which is presented to the view to display all the items in the list. In addition to the dynamic list,
        another notable feature of this application is the ative router link for each page; the link for the active page is highlighted
        to let the user know where they are on the site.
    </p>
</div>