#navbar {
    width: 100%;
    height: 50px;
}

#logo {
    display: inline-block;
    height: 50px;
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}

#navbar > a {
    display: inline-block;
    color: #fff;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

#navbar > a:hover {
    background-color: #fffef1;
    color: #8830ec;
}