.spacer {
    padding-top: 50px;
}
.body-container {
    margin: auto;
    width: 80%;
    box-shadow: 4px 4px 4px black;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    z-index: 9999;
}

.col {
    padding: .4em 1.3em;
    border: 1px solid white;
}

.color-dark {
    background: black;
}

.color-light {
    background: #252525;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.btn {
    border: 0;
    width: 100px;
    display: block;
    padding: 1em 1em;
    background: #fff;
    color: #000;
    margin-bottom: 1em;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    float: left; 
    margin-right: 20px;
}

input.btn-disabled {
    border: 0;
    width: 100px;
    display: block;
    padding: 1em 1em;
    background: #777676;
    color: #2e2e2e;
    cursor: not-allowed;
    text-align: center;
    font-weight: bold;
    float: left; 
    margin-right: 20px
}

.item-container {
    background: #5b1288;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .2em;
    font-weight: bold;
    cursor: pointer;
}

.remover {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 0%;
    padding: 5px 10px;
    transform: (0%, 50%);
    border: 1px solid #000;
    background: #3889f3;
    color: #000;
    font-weight: bold;
}

.remover:hover {
    background: #000;
    color: #fff;
}

.clear {
    clear: both;
}