
<div class="spacer"></div>
<div class="container">
    <form class="inputs-box">
        <input class="float-left" type="text" class="txt" name="item" placeholder="add item..." [(ngModel)]="itemText">
        <input class="float-left" type="submit" class="btn" [value]="btnAddText" (click)="addItem()">
    </form>
</div>

<div class="spacer"></div>
<div class="container"><hr class="sep"></div>
<div class="spacer"></div>

<div class="container">
    <div class="item-box-shadow clear">
        <div class="item-list-menu">
            <div class="items-select-all float-left">
                <input #mainCbx type="checkbox" (click)="selectAllItems($event)">
            </div>
            <div class="float-left items-delete" (click)="deleteAllSelectedItems()"></div>
        </div>
        <div class="item-container" *ngFor="let item of itemsList; let i = index">
            <div class="width-5pct float-left">
                <input #cbx type="checkbox" (click)="selectItem($event, i)">
            </div>
            <div class="item float-left">{{ item }}</div>
            <div class="float-left items-delete" (click)="removeItem(i)"></div>
        </div>
    </div>
</div>