.spacer {
    padding-top: 50px;
    width: 100%;
}

.float-left {
    float: left;
}

.container {
    margin: auto;
    width: 40%;
}

.inputs-box {
    display: flex;
    flex-direction: column row;
    width: 427px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 300px;
}

input.btn {
    border: 0;
    width: 100px;
    padding: 1em;
    text-align: center;
    background: #ce95fd;
    color: #000;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

input.btn-disabled {
    border: 0;
    width: 100px;
    display: block;
    padding: 1em 1em;
    background: #777676;
    color: #2e2e2e;
    cursor: not-allowed;
    text-align: center;
    font-weight: bold;
    float: left; 
    margin-right: 20px
}

.item-box-shadow {
    display: flex;
    flex-direction: column;
    width: 427px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.item-container {
    background: white;
    color: black;
    cursor: pointer;
    width: 427px;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
}

.item {
    width: 350px;
    padding-left: 5px;
}

.items-title-bar {
    width: 427px;
    height: 30px;
    background: #65b5ce;
    color: black;
}

.items-title {
    width: 33%;
    padding-left: 5px;
}

.items-select-all {
    width: 32%;
}

.items-delete-all {
    width: 32%;
}

.items-delete-all-img {
    cursor: pointer;
}

.remover {
    width: 50px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: (0%, 50%);
    border: 1px solid #000;
    background: #3889f3;
    color: #000;
    font-weight: bold;
}

.remover:hover {
    background: #000;
    color: #fff;
}

.clear {
    clear: both;
}